*.depends
*.o
*.~lock*
/augmental
/networks_all_formats
/playground
blair_graphs/
leda/
pace/
/dom/syf
dom/simple.deg.txt
dom/test.txtg
dom/test1.txt
BerlinWcol
BerlinWcolNew
Degeneracy
GenUQWTest
LSWcol
RandomWcol
SortDeg
UQWFirst
UQWLast
VerifierUQW
VerifierUQWBrut
WcolStats
greedy
LSWcolOld
LSWcolNew
dom/tmp*
CheckIndependent
ComputeWcolBrut
LSWcolBoth
UQW-MFCS
UQW-TGV
UQW-TGV2
UQWPatcher
networks/proba.sh
networks/timereport-berlin.csv
networks/tmp
networks/verify_wcol_with_brut.sh
*tmp.dimacs
mmmmm
dom/FixIsolatedInOrder
dom/UQWMix
dom/licz_stringi.cpp
dom/licz_stringi
dom/CheckConnectivity
dom/CheckConnectivity.cpp
dom/min-fill-in/bin/
networks/connectivity.sh
td/nic
td/td-heuristic/td-bs
td/tmp.order

dom/GPATH

dom/GRTAGS

dom/GTAGS

dom/UQW-TGV3
dom/UQW-TGV4
dom/UQW-TGV5
dom/tablesTODO
networks/_rep_sortdeg1.csv
networks/huge_rep_cp.csv
networks/mktemp
networks/mktemp2
networks/small_rep_sortdeg1.csv
networks/small_uqw_rep_cp.csv
networks/star.in
networks/star.ord.txt
networks/star.txtg
networks/td_big_cerr.txt
new-repo/src/FixIsolatedInOrder
new-repo/src/UQW-TGV3
new-repo/src/UQW-new
new-repo/src/UQW-new2
new-repo/src/UQW-new_ld
new-repo/src/UQWMix

