*.depends
*.o
*.~lock*
/augmental
/networks_all_formats
/playground
blair_graphs/
leda/
pace/
/dom/syf
dom/simple.deg.txt
dom/test.txtg
dom/test1.txt
BerlinWcol
BerlinWcolNew
Degeneracy
GenUQWTest
LSWcol
RandomWcol
SortDeg
UQWFirst
UQWLast
VerifierUQW
VerifierUQWBrut
WcolStats
greedy
LSWcolOld
LSWcolNew
