*.depends
*.o
*.~lock*
/augmental
/networks_all_formats
/playground
blair_graphs/
leda/
pace/
/dom/syf
dom/simple.deg.txt
dom/test.txtg
dom/test1.txt
BerlinWcol
BerlinWcolNew
Degeneracy
GenUQWTest
LSWcol
RandomWcol
SortDeg
UQWFirst
UQWLast
VerifierUQW
VerifierUQWBrut
WcolStats
greedy
LSWcolOld
LSWcolNew
dom/tmp*
CheckIndependent
ComputeWcolBrut
LSWcolBoth
UQW-MFCS
UQW-TGV
UQW-TGV2
UQWPatcher
networks/proba.sh
networks/timereport-berlin.csv
networks/tmp
networks/verify_wcol_with_brut.sh
*tmp.dimacs
mmmmm
dom/FixIsolatedInOrder
dom/UQWMix
dom/licz_stringi.cpp
dom/licz_stringi
dom/CheckConnectivity
dom/CheckConnectivity.cpp
dom/min-fill-in/bin/
networks/connectivity.sh
td/nic
td/td-heuristic/td-bs
td/tmp.order

dom/GPATH

dom/GRTAGS

dom/GTAGS
